
span{
    display: block;
}
.colors{
  margin: 100px auto 100px;
  width: 80%;
  text-align: center;
}
.button{
    text-align: center;
    width: 100px;
    height: 100px;
    display:inline-block;
    border: solid 1px #fff;
}
#grey{
    background-color: grey;
}
#yellow{
    color: #212121;
    background-color: yellow;
}
#blue{
    background-color: blue;
}
#pink{
    color: #212121;
    background-color: Pink;
}
