.Container{
    text-align: center;
}
.form input{
    border-radius: 5px;
}
button{
    width: 100px;
    height: 30px;
    border: solid 1px black;
    border-radius: 8px;
}
#results{
    margin-top: 10px;
    color: orange;
    font-weight: bold;
    font-size: 20px;
}
#info{
    font-size: 20px;
    font-weight: bold;
}